:root {
    --theme-black: #000;
    --theme-blue: #006ba7;
    --theme-dark-blue: #1a385c;
    --theme-darker-blue: #00306a;
    --theme-dark-gray: #4e4e4e;
    --theme-dark-red: #94182b;
    --theme-gray: #8e8e8e;
    --theme-light-gray: #dfdede;
    --theme-lighter-gray: #efefef;
    --theme-red: #f00045;
    --theme-white: #fff;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

article {
    font-size: 1.4rem;
}

article > section {
    margin: 0;
    padding: 1rem;
}

article > section > div,
article > footer > div {
    color: var(--theme-gray);
    margin: 0 auto;
    max-width: 114rem;
}

article > section > div > h1,
article > section > div > h2 {
    margin: 0.5em 0;
    padding: 0;
}

article > section > div > h1 {
    color: var(--theme-black);
    font-size: 2.6rem;
    font-weight: normal;
    margin-bottom: 2em;
}

article > section > div > h2 {
    color: var(--theme-gray);
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 9rem;
}

article > section > div > h2:after {
    content: '—';
    display: inline-block;
    position: relative;
    top: 0.4em;
}

header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: 20rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header > div {
    background: var(--theme-white);
    border-bottom: 1px solid var(--theme-light-gray);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#logo,
#logo-small {
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    display: inline-block;
}

#logo {
    height: 4rem;
    justify-self: center;
    margin: 5.4rem 0;
    width: 24.5rem;
}

#logo-small {
    height: 2.6rem;
    width: 18rem;
}

#hero {
    align-items: center;
    background-image: url('https://placeimg.com/2880/1000/people/3');
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    font-size: 2.6rem;
    height: 46rem;
    justify-content: center;
    margin-top: 15rem;
    width: 100%;
}

#hero > div {
    color: var(--theme-white);
    text-align: center;
}

#hero p {
    display: inline-block;
    margin: 1em;
    max-width: 59%;
    text-align: center;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#hero b {
    border-bottom: 0.3rem solid var(--theme-red);
    display: inline-block;
    font-weight: bold;
}

header nav {
    background: var(--theme-white);
    border-bottom: 0.5rem solid var(--theme-red);
    border-left: 1px solid var(--theme-light-gray);
    border-right: 1px solid var(--theme-light-gray);
    justify-self: center;
    margin-top: -1px;
}

header nav ul {
    display: block;
    margin: 0 auto;
    padding: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: var(--theme-gray);
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1em 5em;
    text-decoration: none;
}

header nav ul li a:hover {
    color: var(--theme-dark-blue);
}

#home > div {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: 10rem auto;
}

#home > div > * {
    align-self: center;
    justify-self: center;
}

#home h3 {
    color: var(--theme-dark-red);
    font-size: 2.4rem;
    font-weight: normal;
    margin-right: 13rem;
}

#home h3:after {
    content: none;
    display: none;
}

#home p {
    color: var(--theme-gray);
    font-size: 1.8rem;
    line-height: 2em;
    margin: 0;
    padding: 0;
}

#about,
#contact {
    background-color: var(--theme-lighter-gray);
}

#about div[itemprop='mainContentOfPage'] {
    font-size: 1.8rem;
    line-height: 2em;
}

#partners {
    list-style: none;
    margin: 7.6rem 0 0 0;
    padding: 0;
}

#partners li {
    margin-bottom: 5rem;
}

#partners li > div {
    background: var(--theme-white);
    border: 1px solid var(--theme-light-gray);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    max-height: 40rem;
    position: relative;
}

#partners li > div > img {
    display: block;
}

#partners li > div:after {
    border-bottom: 0.6rem solid var(--theme-dark-blue);
    content: ' ';
    display: block;
    left: 37rem;
    position: absolute;
    top: 6rem;
    width: 6rem;
}

#partners li:nth-child(even) > div:after {
    border-color: var(--theme-dark-red);
}

#partners li h3 {
    color: var(--theme-dark-blue);
    font-size: 2.6rem;
    font-weight: normal;
}

#partners li:nth-child(even) h3 {
    color: var(--theme-dark-red);
}

#partners li div[itemprop='description'] {
    margin: 5rem 1rem 5rem 9rem;
    max-height: 30rem;
    overflow-y: auto;
    padding-right: 5rem;
}

#practice-areas {
    background-color: var(--theme-darker-blue);
    font-size: 1.8rem;
    line-height: 1.5em;
}

#practice-areas h1 {
    color: var(--theme-white);
}

#practice-areas ul {
    background: var(--theme-white);
    list-style: none;
    margin: 0 0 10rem 0;
    padding: 9rem 6rem;
}

#practice-areas ul > li {
    position: relative;
}

#practice-areas ul > li > a {
    color: var(--theme-gray);
    display: block;
    padding: 0.5em;
    text-decoration: none;
    width: 40rem;
}

#practice-areas ul > li > a:hover {
    color: var(--theme-dark-blue);
}

#practice-areas ul > li.active > a {
    color: var(--theme-dark-red);
    font-weight: bold;
}

#practice-areas ul > li > div {
    display: none;
}

#practice-areas ul > li.active > div {
    display: block;
    line-height: 2em;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 40rem);
}

#contact {
    padding-bottom: 10rem;
}

#contact h1 {
    color: var(--theme-dark-blue);
}

#contact a {
    color: var(--theme-dark-gray);
    text-decoration: none;
}

#contact a:hover {
    color: var(--theme-red);
}

#contact div[itemprop='mainContentOfPage'] {
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: auto;
}

#contact form,
#contact form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

#contact form {
    border-right: 1px solid var(--theme-gray);
    margin-right: 6rem;
    padding-right: 6rem;
}

#contact form fieldset label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

#contact form fieldset input,
#contact form fieldset textarea {
    background: var(--theme-white);
    border: 1px solid var(--theme-light-gray);
    display: block;
    font-size: 1.4rem;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
    outline: none;
}

#contact form fieldset input:focus,
#contact form fieldset textarea:focus {
    border: 1px solid var(--theme-dark-gray);
}

#contact form input[type='submit'] {
    background: var(--theme-blue);
    border: none;
    border-radius: 0.5rem;
    color: var(--theme-white);
    font-size: 1.4rem;
    margin-top: 2em;
    padding: 1em 5em;
}

#contact form input[type='submit']:hover {
    background: var(--theme-red);
}

#contact address {
    color: var(--theme-dark-gray);
    font-style: normal;
}

#contact address a {
    display: block;
}

#contact address span[itemprop='legalName'] {
    font-weight: bold;
}

#contact address span[itemprop='addressLocality']:before,
#contact div[itemprop='founder'] span[itemprop='telephone']:before,
#contact div[itemprop='founder'] span[itemprop='email']:before,
#contact div[itemprop='founder'] + span:before {
    content: '\A';
    white-space: pre;
}

#contact div[itemprop='founder'] {
    margin-top: 3.5rem;
}

#contact div[itemprop='founder'] span[itemprop='givenName'],
#contact div[itemprop='founder'] span[itemprop='familyName'] {
    font-weight: bold;
    color: var(--theme-dark-red);
}

#contact div[itemprop='founder']:nth-child(even) span[itemprop='givenName'],
#contact div[itemprop='founder']:nth-child(even) span[itemprop='familyName'] {
    color: var(--theme-darker-blue);
}

#contact div[itemprop='founder'] + span {
    display: block;
    margin-top: 2em;
    color: var(--theme-dark-gray);
}

article > footer {
    background: var(--theme-dark-blue);
}

article > footer > div {
    padding: 10rem 0;
    color: var(--theme-white);
}

article > footer nav {
    margin: 0 0 4rem 10rem;
}

article > footer nav,
article > footer nav ul,
article > footer nav ul li {
    display: inline-block;
}

article > footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

article > footer nav ul li a {
    color: var(--theme-white);
    text-decoration: none;
    padding: 1em 3em;
}

article > footer nav ul li a:hover {
    color: var(--theme-red);
}

/*
 * Device: Desktops
 * Screen: 1281px to higher resolution desktops
 */
@media (min-width: 1281px) {

}

/*
 * Device: Laptops, Desktops
 * Screen: B/w 1025px to 1280px
 */
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
 * Device: Tablets, Ipads (portrait)
 * Screen: B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) {

}

/*
 * Device: Tablets, Ipads (landscape)
 * Screen: B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
 * Device: Low Resolution Tablets, Mobiles (Landscape)
 * Screen: B/w 481px to 767px
 */
@media (min-width: 481px) and (max-width: 767px) {

}

/*
 * Device: Most of the Smartphones Mobiles (Portrait)
 * Screen: B/w 320px to 479px
 */
@media (min-width: 320px) and (max-width: 480px) {

}
