@import "fonts.css";
@import "transitions.css";

:root {
    --theme-black: #000;
    --theme-bright-blue: 75, 180, 245;
    --theme-light-blue: #466193;
    --theme-blue: #006ba7;
    --theme-dark-blue: #1a385c;
    --theme-darker-blue: 0, 48, 106;
    --theme-dark-gray: #4e4e4e;
    --theme-dark-red: #94182b;
    --theme-pink: 183, 10, 65;
    --theme-gray: #8e8e8e;
    --theme-light-gray: #dfdede;
    --theme-lighter-gray: #efefef;
    --theme-soundcloud-gray: #f5f5f5;
    --theme-red: #f00045;
    --theme-white: #fff;

    --podcast-player-height: 17rem;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'bentonsans', Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

article {
    font-size: 1.4rem;
    transition: margin 1s;
}

article > section {
    margin: 0;
    padding: 1rem;
}

article > section > div,
article > footer > div {
    color: var(--theme-gray);
    margin: 0 auto;
    max-width: 114rem;
}

/*
article > section > div > h1,
article > section > div > h2 {
    margin: 0.5em 0;
    padding: 0;
}

article > section > div > h1 {
    color: var(--theme-black);
    font-size: 2.6rem;
    font-weight: normal;
    margin-bottom: 2em;
}

article > section > div > h2 {
    color: var(--theme-gray);
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 9rem;
}

article > section > div > h2:after {
    content: '—';
    display: inline-block;
    position: relative;
    top: 0.4em;
}
*/

header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: 20rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header > div {
    background: var(--theme-white);
    border-bottom: 1px solid var(--theme-light-gray);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
    text-align: center;
}

article > footer {
    background: var(--theme-dark-blue);
}

article > footer > div {
    padding: 10rem 0;
    color: var(--theme-white);
}

/*
 * Device: Desktops
 * Screen: 1281px to higher resolution desktops
 */
@media (min-width: 1281px) {

}

/*
 * Device: Laptops, Desktops
 * Screen: B/w 1025px to 1280px
 */
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
 * Device: Tablets, Ipads (portrait)
 * Screen: B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) {

}

/*
 * Device: Tablets, Ipads (landscape)
 * Screen: B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
 * Device: Low Resolution Tablets, Mobiles (Landscape)
 * Screen: B/w 481px to 767px
 */
@media (min-width: 481px) and (max-width: 767px) {

}

/*
 * Device: Most of the Smartphones Mobiles (Portrait)
 * Screen: B/w 320px to 479px
 */
@media (min-width: 320px) and (max-width: 480px) {

}
