:root {
  --theme-black: 0, 0, 0;
  --theme-white: 255, 255, 255;
  --theme-midnight: 4, 26, 53;
  --theme-black-pearl: 10, 16, 36;
  --theme-big-stone: 22, 35, 58;
  --theme-cab-sav: 81, 13, 30;
  --theme-gunmetal: 0, 7, 22;
  --theme-blue-charcoal: 6, 14, 28;
  --theme-blue-jeans: 75, 180, 245;
  --theme-ship-cove: 126, 153, 185;
  --theme-allports: 0, 107, 167;
  --theme-tundora: 78, 78, 78;
  --theme-shiraz: 183, 10, 65;
  --theme-gray: 44, 44, 44;
  --theme-alto: 223, 222, 222;
  --theme-cultured-pearl: 245, 245, 245;
  --theme-red-ribbon: 240, 0, 69;
  --theme-cocoa-bean: 73, 21, 31;
  --theme-st-tropaz: 57, 87, 132;
  --theme-cannon-pink: 144, 89, 101;
  --theme-white-whale: 237, 238, 239;
  --podcast-player-height: 17rem;
  --page-content-max-width: 114rem;
}
